.quetes {
  &__content {
    width: 100%;
  }
  &__description {
    max-width: 700px;
    margin-bottom: 50px;
    color: var(--color-d);
    h3 {
      font-size: var(--h3-fs);
      margin-bottom: 5px;
    }
  }
  &__info {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    h4 {
      margin-bottom: 20px;
      label {
        background: var(--color-p);
        color: #fff;
        font-size: var(--normal-fs);
        font-weight: var(--font-m);
        padding: 5px 15px;
        border-radius: 5px;
      }
    }
    .bar {
      background: var(--color-w);
      box-shadow: var(--box-s);
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 6px;
      transition: 0.3s ease;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        font-size: var(--small-fs);
        span {
          font-weight: var(--font-m);
          color: var(--color-d);
        }
      }
      .line {
        position: relative;
        width: 100%;
        height: 7px;
        background: var(--color-l);
        border-radius: 2px;
        &::before {
          content: "";
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background: var(--color-p);
          border-radius: 2px;
          width: 95%;
        }
      }
      .one {
        &::before {
          width: 50%;
        }
      }
      .two {
        &::before {
          width: 60%;
        }
      }
      .thre {
        &::before {
          width: 70%;
        }
      }
      .four {
        &::before {
          width: 80%;
        }
      }
      .five {
        &::before {
          width: 90%;
        }
      }
    }
  }
  .visi__all {
    .item {
      background: var(--color-w);
      box-shadow: var(--box-s);
      border-bottom: 3px solid var(--color-p);
      padding: 20px;
      margin-top: 15px;
      border-radius: 6px;
      transition: 0.3s ease;
      .year {
        font-size: var(--small-fs);
        margin-bottom: 5px;
        color: var(--color-d);
      }
      p {
        color: var(--color-d);
        font-size: var(--small-fs);
        span {
          color: var(--color-p);
          font-size: var(--normal-fs);
          font-weight: var(--font-sb);
        }
      }
    }
  }
  .experience__card {
    background-color: var(--color-w);
    border-bottom: 3px solid var(--color-p);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--bs);
    transition: 0.3s ease;
    .upper {
      line-height: 30px;
    }
    h3 {
      font-size: var(--h3-fs);
      font-weight: var(--font-sb);
      color: var(--color-d);
    }
    h5 {
      font-size: var(--small-fs);
      font-weight: var(--font-m);
      font-style: italic;
      color: var(--color-d);
    }
    span {
      color: var(--color-p);
    }
    .hr {
      width: 100%;
      height: 2px;
      background: var(--color-p);
      margin: 10px 0 22px;
    }
    p {
      color: var(--color-d);
    }
  }
  .edu__list,
  .item:hover,
  .bar:hover,
  .experience__card:hover {
    transform: scale(1.03);
  }
}
